.container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
}
.logoContainer{
    display: flex;
    flex-direction: row;
   
    justify-content: center;
    align-items: center;

    height: 15vh;
    min-height: 130px;
    width: 100%;

}
.logo{
    height: 90%;
    aspect-ratio: 1/1;
}
.logoTitle{
    height: 100%;
    display: flex ;
    flex-direction:column;
    margin-left:10px ;
    justify-content: center;

    color: white;

    h1{
        font-size: 20px;  
        font-weight: 500;
        margin: 0;
    }
}
.navList{
    width: 80%;
    height: auto;
    border-top: 1px solid rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    margin-left: 10%;
}
.navItem{
    text-decoration: none;
    list-style: none;
    margin-top: 15%;
    padding: 0;
    justify-content: center;
    align-content: center;
    
    /* border: 1px solid blue; */

}
.navLink{
    color: white;
    font-size: clamp(1.3rem, 1vh , 2rem);
    /* border: 1px solid blue; */
    animation-duration: 0.6s;
}
.navLink:hover{
    cursor: pointer;
    border-bottom: 1.5px solid rgb(251, 251, 252);
}
.navButton{
    
    text-decoration: none;
    list-style: none;
    margin: 10%;
    /* border: 1px solid purple; */
}