@import "../../../../assets/css/color.css";

.container{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 90%;
    background-color: transparent;
    border-radius: 15px;
    margin-top: 1%;
}
.addContentContainer{
    width: 60%;
    height: 10%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-content: center;
    button{
        border-radius: 40%;
        height: 70%;
        aspect-ratio: 1/1;
        justify-content: center;
        align-content: center;
        margin-left: 14%;
        padding: 0;
        border: none;
        box-shadow: none;
        justify-self: end;
    }
    input{
        width: 70%;
        height: 60%;
        margin-left: 4%;
        padding: 0;
        border: none;
        font-size: 16px;
        &:focus{
            outline: none;
        }
    }
    
}
.ListContainer{
    width: 100%;
    height: 85%;
    background-color: white;  
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
    
}
.itemsContainer{
    display: flex;
    flex-direction: column;
}
.titleContainer{
    display: flex;
    height: 40px;
    width: 100%;
    /* border: 1px solid red; */
    border-bottom: 2px solid var(--backgroud-color);
}