@import "../assets/css/color.css";

.container {
  display: flex;
  justify-items: center;              /* centraliza cada item horizontalmente */
  align-items: center;                /* centraliza cada item verticalmente */
  height: 100vh;
  min-height: 500px;
  width: 100vw;
}

.sidebar {
  background: var(--secundary-color);
  width: 17vw;
  height: 100%;
  min-width: 230px;
  display: flex;
  justify-items: center;   
  
}
.mainContent {
  display: grid;
  grid-template-rows: auto 1fr;
  background: transparent;
  width: 83vw;
  min-width: 900px;
  height: 100vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}
