@import "../assets/css/color.css";

.container {
  display: flex;
  justify-items: center;              /* centraliza cada item horizontalmente */
  align-items: start;                /* centraliza cada item verticalmente */
  height: 100vh;
  min-height: 600px;
  width: 100vw;
}

.sidebar {
  background: var(--secundary-color);
  width: 17vw;
  height: 100%;
  min-width: 230px;
  display: flex;
  justify-items: center;   
  
}
.mainContent {
  display: grid;
  grid-template-rows: auto 1fr;
  background: transparent;
  width: 83vw;
  min-width: 900px;
  height: 100%;
}
.dashboardContainer{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-height: 90vh;
  /* border: 1px solid saddlebrown; */
}
