.container{
    display: flex;
    flex-direction: column;
    height: 160px;
    aspect-ratio: 2/1.3;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header{
    display: flex;
    width: 100%;
    border:1px solid red ;
    justify-content: space-between;
    
}
.icon{
    margin: 1px;
    margin-right: 2%;
    margin-top: 2%;
    border:1px solid purple ;
}