.container{
    display: flex;
    flex-direction: column;
    height: 140px;
    aspect-ratio: 2/1.3; /* 247 */
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header{
    display: flex;
    width: 100%;
    /* border:1px solid red ; */
    justify-content: space-between;
    margin: 1.5%;
    h2{
        margin-left: 5%;
        font-size: clamp(1.3rem,3px,3rem);
    }
}
.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* border: 1px solid lightgray; */
    margin-top: 3%;
    p{
        margin: 0;
        padding: 0;
    }
}
.icon{
    margin: 1px;
    margin-right: 4%;
    margin-top: 2%;
    cursor: pointer;
    /* border:1px solid purple ; */
}
.icon:active{
    scale: 0.9;
}
