.container{
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    
    border-radius: 15px;
    width: 90%;
    height: 75%;
}
.itens {
  width: 100%;
  height: 90%;
  display: grid;
  /* define número máximo de colunas fixas */
  grid-template-columns: repeat(auto-fill, 245px);
  grid-auto-rows: 160px;
  gap: clamp(1rem, 3vw, 4rem);

  justify-content: center;  /* impede compensação ou centralização */
  align-content: center;     /* evita que as linhas se expandam verticalmente */
  overflow-y: auto;

  
  box-sizing: border-box;
}
