.container{
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    
    border-radius: 15px;

    width: 90%;
    height: 95%;
}
.list{
    height: 90%;
    width: 100%;
}
.listElement{
    border-bottom: 1px solid rgba(128, 128, 128, 0.774);
    height: 40px;
    padding: 0px;
}