.container{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 90%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* border: 1px solid rgb(41, 3, 255); */
    margin-top: 1%;
}

.itemsContainer{
    display: flex;
}
.titleContainer{
    display: flex;
    height: 40px;
    width: 100%;
    /* border: 1px solid red; */
    border-bottom: 2px solid var(--backgroud-color);
}