@import "../../../../assets/css/color.css";
.container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--color-list-element-1);
    
    border-radius: 15px;
    width: 90%;
    height: 45px;
    margin-top: 5%;
    cursor: pointer;
    font-size: clamp(8px, 1.2vw, 16px);
    /* border: 1px solid orange; */
  
}
.tipeContainer{
    margin-left: 3%;
    width: 25%;

}
.arrowContainer{
    width: 5%;
    margin-left: 3%;
    margin-top: 3%;
    justify-content: end;
    align-items: end;
}
.emailContainer{
    margin-left: 3%;
    width: 55%; 
    overflow-x:hidden;

}
.modalContent{
    display: flex;
    flex-direction: column;
    aspect-ratio: 1.3/1;
    width: 40vw;
    min-width: 34rem;
    border-radius: 15px;

    /* height: 80%; */
    background-color: var(--backgroud-color);
}
.modalContentInput{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70%;

    strong{
        margin: 0;
        padding: 0;
        height: 15%;
    }
    p{
        width: 80%;
        height: 15%;
        margin: 0;
        padding: 0;
        font-size: clamp(1rem, 1.2vw, 2rem);
    }
}
.modalTitleContainer{
    height: 25%;
    width: 100%;
    font-size: clamp(1.5rem, 1.5vw, 5rem);
    justify-content: center;
    align-content: center;
    
}
.modalDates{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 80%;
    height: 15%;
}
