@import "../../assets/css/color.css";

.container{
    display: flex;
    flex-direction: row;
    position: relative;

    justify-content: center;
    align-items: center;

    aspect-ratio: 2/1.1;
    width: 50vw;
    min-width: 38rem;
    border-radius: 15px;
    background-color: var(--backgroud-color);
}
.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;

    h1{
        color: var(--primary-color);
        font-size: clamp(2rem, 5vw, 10rem);
        margin: 4%;
    }

    buttom{
        width: 20%;
        margin: 5%;
    }
    a{
        color: var(--primary-color-2);
        font-size: 14px;
        text-decoration: underline;
        margin-bottom: 5%;
    }

    input{
        width: 70%;
        padding: 10px;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        outline: none;
        transition: 0.3s;
        margin: 4%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.45);
        &:focus{
            box-shadow:  0 2px 4px var(--primary-color-2);
        }
    }
}
.adviceContainer{
    width: 50%;
    height: 100%;
    /* border: 1px solid purple; */
}
.iconContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    
    
    h1{
        color: var(--primary-color-2);
        font-size: clamp(2rem, 1vw, 5rem);
        margin: 4%;
        text-align: center;
    }
}
.logoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    margin-top: 3%;
}
.logo{
    height:100%;
    aspect-ratio: 1/1;
}
.logoTitle{
    text-align: center;
    h1{
        color: var(--secundary-color);
        text-wrap: balance;
        font-size: clamp(1.5rem, 2vw, 10rem);
        margin: 0;
    }
}
.adviceText{
    color: var(--secundary-color);
    font-size: clamp(1rem, 1vw, 3rem);
    text-align: left;
    margin: 4%;
    height: 40%;

    h1{
        margin:5%;
        color: var(--primary-color);
        font-size: clamp(1.5rem, 2vw, 5rem);
    }
    p{
        margin: 2% 0;
        font-size: clamp(1rem, 1vw, 3rem);
        font-weight: bolder;
    }
}