@import "../assets/css/color.css";

.container{
    display: flex;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 80px;
    height: 10vh;
    background-color: var(--secundary-color);
}

.logoContainer{
    display: flex;
    flex-direction: row;
   
    justify-content: center;
    align-items: center;

    max-width: 23%;
}

.logo{
    height: 100%;
    aspect-ratio: 1/1;
}

.logoTitle{
    height: 100%;
    display: flex ;
    flex-direction:column;
    margin-left:10px ;
    justify-content: center;

    color: white;

    h1{
        font-size: 20px;  
        font-weight: 500;
        margin: 0;
    }
}

.navList{
    display: flex;
    width: 50%;
    justify-content: end;
}
.navItem{
    text-decoration: none;
    list-style: none;
    margin-left: 5%;
    justify-content: center;
    align-content: center;
}

.navLink{
    color: white;
    font-size: clamp(1.2rem,1vw, 2rem);
    
}