:root{

    /*Cores primarias*/
    --primary-color:#66282C;
    --primary-color-2:#ED6A5A;
    --secundary-color:#42403A;

    /* background colors */
    --backgroud-color:#CBCAC7;
    --color-list-element-1:#4d4d4d25;
    --color-list-element-2:#ffffff;

} 